@import '../../variables.scss';

.Btn{
    background: $orange;
    width: 19.5rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
    

    h3{
        width: 100%;
        color: $white;
        font-size:medium;
        text-align: center;
        width: fit-content;
    }
}