@import '../../variables';


.product-card{
    padding: 5.625rem 2.9375rem;
    display: flex;

    .product-card-images{

        .main-img{
            max-width: 27.75rem;
            object-fit: contain;
            object-position: center;
            border-radius: 1rem;
            margin-bottom: 1.875rem;
        }

        .thumbnails-section{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.875rem;
            
            img{
                max-width: 5.5rem;
                object-fit: contain;
                object-position: center;
                border-radius: 0.7rem;
                
            }
        }
    }

    .product-card-text{
        padding: 4rem 0rem;
        margin-left: 8rem;

        .company{
            color: $orange;
            text-transform: uppercase;
            font-size: 0.85rem;
            letter-spacing: 0.1rem;
            margin-bottom: 1rem;
        }

        h1{
            font-size: 2.80rem;
            line-height: 3rem;
            margin-bottom: 2.2rem;
        }

        p{
            color: $dark-grayish-blue;
            line-height: 1.7rem;
            margin-bottom:  1.5rem;
        }

        .product-card-prices{
            display: flex;
            flex-direction: column;

            .flex-container{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 0.7rem;

                .product-card-price{
                 width: fit-content;
                 font-size: 1.8rem;
                 margin-right: 1rem;
                }
                
                .product-card-discount{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: fit-content;
                    height: fit-content;
                    padding: 0.2rem 0.5rem;
                    color: $orange;
                    font-weight: 700;
                    background: $pale-orange;
                    border-radius: 0.3rem;
                }
            }

            .product-card-oryginal-price{
                color: $grayish-blue;
                font-weight: 700;
                text-decoration: line-through;
                margin-bottom: 2rem;
            }

        }
    }
}