@import '../../variables.scss';

.cart-item{
    width: 100%;
    display: flex;
    align-items: center;

    .thumbnail{
        width: 3.125rem;
        object-fit: contain;
        object-position: center;
        border-radius: 0.2rem;
    }

    .cart-item-text{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0 1rem;
        height: 3.125rem;

        div{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 0.4rem;
        }

        p{
            color: $dark-grayish-blue;
            line-height: 1.25rem;
            vertical-align: top;
            // margin-bottom: 0.5rem;
        }
        
        .counted-price{
            line-height: 1rem;
            font-weight: 700;
            font-size: 1.05rem;
        }
    }
    
    .bin{
        // width: 3.125rem;
        object-fit: contain;
        object-position: center;
        margin: auto;
        cursor: pointer;
    }
}